*~
*.la
*.lo
*.log
*.o
*.trs
.deps
.dirstamp
.libs
Makefile
Makefile.in

/about-authors.c
/aclocal.m4
/autom4te.cache/
/bash/virt-p2v-make-kickstart
/bash/virt-p2v-make-kiwi
/blank-part.img
/build-aux/
/config.c
/config.h
/config.h.in
/config.status
/configure
/dependencies.archlinux
/dependencies.debian
/dependencies.redhat
/dependencies.suse
/docs/p2v-building.1
/docs/p2v-hacking.1
/docs/p2v-release-notes.1
/docs/stamp-p2v-building.pod
/docs/stamp-p2v-hacking.pod
/docs/stamp-p2v-release-notes.pod
/fedora.img
/kernel-config.c
/libtool
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/p2v-config.h
/podwrapper.pl
/run
/stamp-h1
/stamp-test-virt-p2v-pxe-data-files
/stamp-test-virt-p2v-pxe-hostkey
/stamp-test-virt-p2v-pxe-kernel
/stamp-test-virt-p2v-pxe-userkey
/stamp-virt-p2v.pod
/stamp-virt-p2v-make-disk.pod
/stamp-virt-p2v-make-kickstart.pod
/stamp-virt-p2v-make-kiwi.pod
/test-virt-p2v-pxe.authorized_keys
/test-virt-p2v-pxe.id_rsa
/test-virt-p2v-pxe.id_rsa.pub
/test-virt-p2v-pxe.img
/test-virt-p2v-pxe.initramfs
/test-virt-p2v-pxe.sshd_config
/test-virt-p2v-pxe.ssh_host_rsa_key
/test-virt-p2v-pxe.ssh_host_rsa_key.pub
/test-virt-p2v-pxe.vmlinuz
/virt-p2v
/virt-p2v.1
/virt-p2v.i686
/virt-p2v.img
/virt-p2v-kernel-config.pod
/virt-p2v-make-disk
/virt-p2v-make-disk.1
/virt-p2v-make-kickstart
/virt-p2v-make-kickstart.1
/virt-p2v-make-kiwi
/virt-p2v-make-kiwi.1
/virt-p2v.xz
/website/*.html
